:root {
  --font-size-s: 12px;
  --font-size: 16px;
  --font-size-lg: 18px;
  --line-height: 1.25;
  --line-height-lg: 1.375;

  --max-width: 750px;
  --max-width-lg: 970px;
  --max-width-xl: 1170px;
  --container-padding: 1.5rem;
  --container-padding-lg: 3rem;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-size: var(--font-size);
  line-height: 1.5;
  scroll-behavior: smooth;
}

@media (min-width: 992px) {
  html {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
  }
}

body {
  color: #000;
  background-color: #fff;
}

img {
  display: block;
  max-width: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.25rem;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2rem;
  line-height: 1.125;
}

@media (min-width: 992px) {
  h1 {
    font-size: 3rem;
    line-height: 1.05;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.75rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 1.25;
}

@media (min-width: 768px) {
  h2 {
    font-size: 2rem;
    line-height: 1.25;
  }

  h4,
  h5,
  h6 {
    line-height: 1.22222222;
  }
}
h3 {
  font-size: 1.25rem;
  line-height: 1.25;
}

h4,
h5,
h6 {
  font-size: 1.125rem;
  line-height: 1.11111111;
}

p {
  margin: 0 0 1rem;
}

ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 992px) {
  .container {
    max-width: var(--max-width-lg);
  }
}

.section {
  display: flex;
  min-height: 100dvh;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  padding: 0 0 1.5rem;
}

.inner-section {
  width: 100%;
}

.inner-section h1,
.inner-section h2,
.inner-section h3 {
  margin-top: 0;
}
