.project-container {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 5rem;
  align-items: center;
  max-width: var(--max-width-xl);
  margin: 0 auto;
}

.project-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-images {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-self: end;
}

.project-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-images img + img {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .project-container {
    grid-template-columns: 1fr;
    gap: 1rem;
    max-width: 100%;
  }

  .project-info {
    grid-column: 1;
  }

  .project-images {
    grid-column: 1;
    align-items: center;
    justify-self: center;
  }
}

@media (min-width: 769px) and (max-width: 1400px) {
  .project-container {
    gap: 2rem;
    max-width: 90%;
  }
}
