@font-face {
  font-family: "scp_observer";
  src: url("https://getmyisland.com/static/scp_observer.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.page {
  background-image: url("https://getmyisland.com/static/scp_observer.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "scp_observer", sans-serif;
  text-transform: uppercase;
  color: white;
}

.page a {
  color: white;
}

.page a:hover {
  color: white;
}